body {
    font-family: 'Titillium Web', sans-serif;
}
.navbar{
    background-color: #c0c0c0;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.05);
    min-height: 100px;
}
.nav-link{
    color: #000000;
}
.h2{ font-size: 48px; margin-bottom: 30px;}
.section{
    padding: 120px;
}
.carusel-container{
    max-width: 800px;
    margin: 0 auto;

}

.carousel-indicators{
    background-attachment:  silver;
    width: 15px;
    height: 15px; 
    border-radius: 2px;
    margin: 0 8px;
}
.carousel-control-next, .carousel-control-prev{
    color: silver;
    opacity: 1;
    width: 5%;
}
.control-button{
     background-color: rgb(11, 117, 223);
     opacity: 1;
     width: 50px;
     padding: 10px;
     border: 1px solid  slategrey;
     border-radius: 50px;
     font-size: 20px;

}